agm-map {
    height: 450px;
  }

  .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background-color: #3bc710 !important;
  }

  .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent{
    background-color: #c71035 !important;
    color: white;
  }

  .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent.attention{
    background-color: #e8eb34 !important;
    color: white;
  }

  .legends {
    margin-top: 20px;
  }

  table {
    width: 100%;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .table-container {
    margin-right: 150px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .column {
    flex-basis: 100%;
    max-height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  
  @media screen and (min-width: 800px) {
    .column {
      flex: 1;
    }
  }